<div class="relative w-full mb-16 bg-project-black h-72">
  <div class="h-[120px] w-[120px] rounded-full border-4 border-project-white absolute bottom-0 right-0 left-1/2 -translate-x-1/2 translate-y-1/2 overflow-hidden">
    <img src="https://picsum.photos/120/120/?random=10">
  </div>
</div>