<div class="w-full">
  <h1 class="text-3xl">
    Settings for <a href="#" class="text-gray-400">@username</a>
  </h1>
  <div class="container flex flex-col mt-8 lg:flex-row">
    <!-- 設定區 -->
    <section class="order-1 w-full p-4 lg:w-2/3 col">
      <!-- username -->
      <form
        class="container items-center px-4 py-8 my-4 bg-gray-200 border-4 border-gray-400 rounded md:flex"
      >
        <label for="username" class="justify-center w-2/12 text-xl"
          >Username:</label
        >
        <input
          id="username"
          class="justify-center mx-8 ml-auto border-none rounded lg:w-6/12 md:flex-grow focus:ring-0 lg:ml-0"
          type="text"
        />
        <button
          class="justify-center p-2 mt-4 ml-auto bg-gray-400 rounded md:mt-0 lg:w-fit"
        >
          Update username
        </button>
      </form>
      <!-- /username -->

      <!-- E-mail -->
      <form
        class="container items-center px-4 py-8 bg-gray-200 border-4 border-gray-400 rounded md:flex"
      >
        <label for="email" class="justify-center w-2/12 text-xl">E-mail:</label>
        <input
          id="email"
          class="justify-center mx-8 ml-auto border-none rounded lg:w-6/12 md:flex-grow focus:ring-0 lg:ml-0"
          type="text"
        />
        <button
          class="justify-center p-2 mt-4 ml-auto bg-gray-400 rounded md:mt-0 lg:w-fit"
        >
          Update E-mail
        </button>
      </form>

      <!-- /E-mail -->
    </section>
    <aside class="w-full p-4 lg:w-1/3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
      explicabo facere, doloribus porro quaerat harum atque voluptatibus laborum
      laudantium iusto corporis tempore totam repudiandae minus ratione aliquam
      eum necessitatibus dicta a at cumque ab consectetur et! Voluptate, enim
      dolore! Non nemo ipsa praesentium, ea distinctio perspiciatis quidem velit
      quisquam esse!
    </aside>
  </div>
</div>
