<nav class="flex items-center py-4 bg-white shadow-md">
  <div class="ml-4">
    <img class="" src="https://picsum.photos/60/40/?random=10" />
  </div>

  <ul class="flex ml-auto mr-4">
    <li class="mx-4 text-lg"><%= link_to "登入", root_path %></li>
    <li class="mx-4 text-lg"><%= link_to "註冊", root_path %></li>
  </ul>
</nav>
