<nav class="flex items-center py-4 bg-white shadow-md">
  
  
  <div class="ml-4">
    <img class="" src="https://picsum.photos/60/40/?random=10" />
  </div>

  <ul class="flex ml-auto mr-4">
    <li ><%= link_to "登入", new_user_session_path, class: "mx-4 text-lg" %></li>
    <li ><%= link_to "註冊", new_user_registration_path, class: "mx-4 text-lg" %></li>
    <li><%= link_to "登出", destroy_user_session_path, class: "mx-4 text-lg", data:{ turbo_method: "delete" } %></li>
  </ul>
</nav>
