<%# <h1>這裡是首頁</h1> %>

<%# <div data-controller="vditor"></div> %>

<%# if user_email_confirmed?  %>
  <%# <h2>認證過的會員會看到這個</h2> %>
<%# elsif current_user %>
  <%# <h2>沒認證的會員會看到這個</h2> %>
<%# else %>
  <%# <h2>還沒登入會看到這個</h2> %>
<%# end %>

<div>
  <%= render @posts %>
  <%= paginate @posts %>
</div>