<section class="flex justify-center mt-16 min-h-[100vh]">
  <%= render "users/shared/side_menu"%>
  <section class="mb-16 flex ml-2 w-[746px] p-8 bg-white rounded border-project-gray-light border flex-col gap-3 ">
    <h2 class="text-lg">點選標籤可立即前往</h2>
    <div class="flex flex-wrap gap-4">
      <% @tags.sort_by(&:name).each do |tag| %>
        <%= link_to tag_path(tag.id) do %>
          <div class="p-2 border-[#6380F2] border rounded-full text-[#6380F2] hover:bg-blue-200">
            <i class="fa-solid fa-tag fa-rotate-90 fa-xs"></i>
            <%= tag.name.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</section>
