<%= render "users/shared/user_banner" %>
<section class="flex justify-center mt-16">
  <%= render "users/shared/side_menu"%>
  <section class="flex ml-4 w-[810px] p-3 bg-project-white rounded border-project-gray-light border flex-wrap gap-3 ">

    <% @tags.sort_by(&:name).each do |tag| %>
      <%= link_to tag_path(tag.id) do %>
        <div class="p-2 border-black border rounded hover:bg-blue-200">
          <i class="fa-solid fa-tag fa-rotate-90 fa-xs"></i>
          <%= tag.name.capitalize %>
        </div>
      <% end %>
    <% end %>
  </section>
</section>
