<div>
  <h1 class="text-4xl font-bold">Posts#edit</h1>
  <p>Find me in app/views/posts/edit.html.erb</p>
</div>
<div>
 
</div>

<div  data-controller="vditor--edit-posts">
  
  <%= form_with(model: @post) do |form| %>
    <div class="relative">
      <%=form.text_field :title, class:"w-3/4  rounded-sm h-28 border-0 text-center text-4xl shadow-[0_5px_15px_rgba(0,0,0,0.05)] hover:ring-1", placeholder:"文章標題", autocomplete: "off", value: "#{@post.title}"%>
      <p class="absolute select-none top-2 left-2"> <%#= form.status%></p>
    </div>

    <br>
   <%# <div id="editor"></div> %>
   <div id="vditor" ></div>
     
     <div data-post-content="content" class="post_content" >
    <%= @post.content %>
  </div>
  <%= form.submit "儲存草稿", data: { method: :patch, action: "click->vditor#update_post" } , class:"mt-6 bg-indigo-600 text-white inline-block px-4 py-2 mr-4 text-blue-900 border border-blue-900 rounded-md order-blue-500 hover:bg-indigo-700 hover:cursor-pointer hover:text-white" %>

  <% end %>

  
</div>