
 <div class="relative h-32 bg-gray-900">
    
   <div class="absolute w-10 h-10 bg-white left-center">
       <% if current_user.avatar? %>
      <%= 1 %>
      <% else %>
      <%= 2 %>
    <% end %>
   </div>
    
  </div>
<div>

 
<%= render "posts", posts: @posts %>
</div>
 <br>
 