<section class="flex justify-center mt-16 min-h-[100vh]">
  <% if params[:id] == current_user.id.to_s %>
    <%= render "users/shared/side_menu"%>
  <% end %>
  <div class="ml-2 w-[746px] bg-white border rounded shadow-[0_5px_15px_rgba(0,0,0,0.03)]  border-project-gray-light mb-8 p-8">
    <div>
      <%= render partial: "shared/post_card", collection: @posts, as: :post %>
      <%= paginate @posts %>
    </div>
  </div>
</section>
