textarea#comment_content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    border: 1px solid #cbd5e0;
    width: 100%;
    height: 160px;
  }
