<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to '變更密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒有要求變更密碼，請忽略這封信</p>
<p><如您未點擊連結並創建新密碼，您的密碼不會變更/p>
